.Erro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    background-color: rgb(235, 243, 231);
    border: 1px solid #000000;
    display: inline-block;
    width: 250px;
    height: 150px;
}

